#s1
{
height: 530px;

}

#welcome-text
{
color: white;
text-align: center;
}

#search{
    width: 200px;
    padding:5px;
    border:none;
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    float: right;
}