{% load static filters %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart | E-shop</title>
    <!--https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css-->
    <link rel="stylesheet" href="{% static 'e_shop/bulma.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'e_shop/cart.css' %}" />-->
    <link rel="icon" href="{% static 'e_shop/e-commerce.png' %}">
    <!--https://use.fontawesome.com/releases/v5.3.1/js/all.js-->
    <script defer src="{% static 'e_shop/fontawesome.all.js' %}"></script>
    <script src="{% static 'e_shop/jquery3.3.1.min.js' %}"></script>
    <script>
      $(document).ready(function(){
        $("input").change(function(){
          let amount = 0
          $('.product_price').each(function () {
            amount += parseInt($(this).val())*parseInt($(this).attr("price"))
          });
          $("#total").val(amount)
        });
      });
    </script>
</head>

<body>
    <header>
       <img src="{% static 'e_shop/e-commerce.png' %}" alt="e-commerce"
        width="70" height="70">
        <nav class="navbar is-light" role="navigation"
        aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="home" class="navbar-item">Home</a>
                    <a href="shop" class="navbar-item">Shop</a>
                    <a href="contact" class="navbar-item">Contact Us</a>
                </div>
                <div class="navbar-end">
                    <a href="#account" class="navbar-item">
                        {{user.username}}<i class="fas fa-user-circle"></i>
                    </a>
                    <div class="buttons">
                        <a href="logout" class="button is-danger">
                            <strong>Logout</strong>
                        </a>
                    </div>
            </div>
            </div>
        </nav>
    </header>
    <div class="columns">
      <div class="column"></div>
      <form method="post" action="" class="column">
        {% csrf_token %}
        {% if cart|length_is:"0" %}
          <section class="section">
            <p class="subtitle">
              You don't have any product in your cart yet!!
            </p>
          </section>
        {% else %}
          {% for product_name,param in cart.items %}
            <div class="field">
                <label for="{{param|item:'id'}}" class="label">
                    {{product_name}} ({{param|item:'price'}} FCFA): 
                </label>
                <input type="number" id="{{param|item:'id'}}"
                name="{{param|item:'id'}}" value="{{param|item:'number'}}"
                min="0" max="{{param|item:'max_number'}}"
                class="input is-small product_price" required
                price="{{param|item:'price'}}">
            </div>
          {% endfor %}
          <label for="total" class="label">
            Total (FCFA):
          </label>
          <input type="number" id="total" name="total" value="{{amount}}"
          class="input is-small" disabled>
          <br><br>
          <button type="submit" class="button is-danger">
            <strong>Buy</strong>
          </button>
        {% endif %}
      </form>
      <div class="column"></div>
    </div>
    <footer id="contact-us" class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>E-commerce shop</strong> by <a href="#">TeamDelta</a>.
            </p>
        </div>
    </footer>
</body>
</html>