{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Products | E-shop</title>
    <!--https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css-->
    <link rel="stylesheet" href="{% static 'e_shop/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'e_shop/shop.css' %}" />
    <link rel="icon" href="{% static 'e_shop/e-commerce.png' %}">
    <!--https://use.fontawesome.com/releases/v5.3.1/js/all.js-->
    <script defer src="{% static 'e_shop/fontawesome.all.js' %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<!-- Display the navigation bar-->
<body>
    <header>
       <img src="{% static 'e_shop/e-commerce.png' %}" alt="e-commerce"
        width="70" height="70">
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="home" class="navbar-item">Home</a>
                    <a href="shop" class="navbar-item">Product</a>
                    <a href="contact" class="navbar-item">Contact Us</a>
                </div>
                <div class="navbar-end">
                    <a href="#Account" class="navbar-item "> Account <i class="fas fa-user-circle"></i></a>
                    <a href="#cart" class="navbar-item"> <i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            </div>
        </nav>
    </header>

<!-- Display the search bar and search button-->
    <div class="box has-text-centered">
        <div class="field">
            <div class="control has-icons-right" style="text-align: center;">
                <input class="input is-rounded" style="width:18em;" type="text" placeholder="Search">
                <button class="button">Search</button>
            </div>
        </div>
        
<!-- Display all products in a table-->
    <div>
        <table>
            {% for product in all_product %}
            <tr>
                <td><section class="column section">
                    <p class="title">{{product.name}}</p>
                    <img src="{{product.image_link.url}}" alt="{{product.name}}" height="200px" width="200px"/>
                    <ul>
                        <li><strong>Description</strong>:{{product.description}}</li>
                        <li><strong>Price</strong>: {{product.price}} FCFA</li>
                        <li><strong>Stock</strong>: {{product.quantity}}</li>
                    </ul>
                </section>
            </td>
            </tr>
            {% endfor %}

<!-- Pagination to display all products in a table-->
        </table>
            <div>
                <div class="pagination">
                    <span class="step-links">
                        {% if all_product.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ all_product.previous_page_number }}">previous</a>
                        {% endif %}
            
                        <span class="current">
                            Page {{ all_product.number }} of {{ all_product.paginator.num_pages }}.
                        </span>
            
                        {% if product.has_next %}
                        <a href="?page={{ all_product.next_page_number }}">next</a>
                        <a href="?page={{ all_product.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </ul>
    </div>

    <footer id="contact-us" class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>E-commerce shop</strong> by <a href="#">TeamDelta</a>.
            </p>
        </div>
    </footer>
</body>
</html>