{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | E-shop</title>
    <!--https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css-->
    <link rel="stylesheet" href="{% static 'e_shop/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'e_shop/shop.css' %}" />
    <link rel="icon" href="{% static 'e_shop/e-commerce.png' %}">
    <!--https://use.fontawesome.com/releases/v5.3.1/js/all.js-->
    <script defer src="{% static 'e_shop/fontawesome.all.js' %}"></script>
</head>

<body>
    <header>
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="home.html" class="navbar-item">Home</a>
                    <a href="about.html" class="navbar-item">About</a>
                    <a href="product.html" class="navbar-item">Products</a>
                    <a href="contact.html" class="navbar-item">Contact us</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-link">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="products" class="columns">
        {% for product in products %}
        <section class="column section">
            <p class="title">{{product.name}}</p>
            <img src="{% static 'e_shop/coca_cola.jpeg' %}" alt="{{product.name}}" />
            <ul>
                <li><strong>Description</strong>:{{product.description}}</li>
                <li><strong>Price</strong>: {{product.price}} FCFA</li>
            </ul>
        </section>
        {% endfor %}
    </div>
    <footer id="contact-us" class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>E-commerce shop</strong> by <a href="#">TeamDelta</a>.
            </p>
        </div>
    </footer>
</body>

</html>