{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Products | E-shop</title>
    <!--https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css-->
    <link rel="stylesheet" href="{% static 'e_shop/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'e_shop/shop.css' %}" />
    <link rel="icon" href="{% static 'e_shop/e-commerce.png' %}">
    <!--https://use.fontawesome.com/releases/v5.3.1/js/all.js-->
    <script defer src="{% static 'e_shop/fontawesome.all.js' %}"></script>
</head>

<body>
    <header>
       <img src="{% static 'e_shop/e-commerce.png' %}" alt="e-commerce"
        width="70" height="70">
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="home" class="navbar-item">Home</a>
                    <a href="contact" class="navbar-item">Contact Us</a>
                </div>
                <div class="navbar-end">
                    <a href="#Account" class="navbar-item ">{{user.username}}<i class="fas fa-user-circle"></i></a>
                    <a href="#cart" class="navbar-item"> <i class="fas fa-shopping-cart"></i></a>
                    <div class="buttons">
                        <a href="logout" class="button is-danger">
                            <strong>Logout</strong>
                        </a>
                    </div>
            </div>
            </div>
        </nav>
    </header>

    <div id="products" class="columns">
        {% for product in products %}
            <section class="column section">
                <p class="title">{{product.name}}</p>
                <img src="{{product.image_link.url}}" alt="{{product.name}}"/>
                <ul>
                  <li><strong>Description</strong>:{{product.description}}</li>
                  <li><strong>Price</strong>: {{product.price}} FCFA</li> 
                </ul>
              </section>
        {% endfor %}
    </div>

    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <div class="columns">
                {% if products.has_previous %}
                   <a href="{% url 'shop' products.previous_page_number %}"
                   class="column button is-link">Previous</a>
                {% endif %}
                <span class="column current">
                   <strong>Page {{ products.number }} / {{ products.paginator.num_pages }}</strong>
                </span>
                {% if products.has_next %}
                   <a href="{% url 'shop' products.next_page_number %}"
                   class="column button is-link">Next</a>
                {% endif %}
            </div>
        </div>
        <div class="column"></div>
    </div>

    <footer id="contact-us" class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>E-commerce shop</strong> by <a href="#">TeamDelta</a>.
            </p>
        </div>
    </footer>
</body>
</html>